.country-details-container {
  padding: 2rem 5%;
}

.details-container {
  display: flex;
  gap: 7rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1280px) {
  .details-container {
    gap: 3rem;
    align-items: flex-start;
  }
}

@media (max-width: 1024px) {
  .details-container {
    flex-direction: column;
  }
}

.flag-image {
  display: block;
  width: 100%;
  max-width: 512px;
  object-fit: contain;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.info-container {
  color: var(--text-color);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
}

.details-grid {
  display: flex;
  gap: 7rem;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}

@media (max-width: 1280px) {
  .details-grid {
    gap: 2rem;
  }
}

@media (max-width: 1024px) {
  .details-grid {
    gap: 0.5rem;
    flex-direction: column;
  }
}

.details-grid p {
  margin: 0.5rem 0;
  font-size: 0.875rem;
}

.details-grid p strong {
  font-weight: 600;
}

.borders p strong {
  font-size: 0.875rem;
  font-weight: 600;
}

.border-div {
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
  margin-top: 0.875rem;
}

.border-names {
  color: var(--bg-element);
  background-color: var(--text-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  font-size: 0.75rem;
  padding: 0.5rem 1.25rem;
  border-radius: 2px;
}