@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --bg-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --bg-element: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 60%);
  --icon-color: hsl(210, 20%, 30%);

  --primary-font: "Nunito Sans", serif;
}

.dark-theme {
  --bg-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --bg-element: hsl(209, 23%, 22%);
  --input-color: hsl(0, 0%, 70%);
  --icon-color: hsl(190, 45%, 70%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  padding: 0 5%;
}

.country-grid {
  display: grid;
  gap: 4.375rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.back-btn {
  color: var(--text-color);
  background-color: var(--bg-element);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  margin-bottom: 2rem;
  padding: 0.875rem 1.25rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}