.main{
  display: flex;
  flex-wrap: wrap;
    justify-content: center;

background-color: #FAFAFA;
}

.countryItem{
    max-width: 220px;
    background-color: white;
    margin: 1.2rem 2rem;

    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.35);
}


.countryItem p{
    font-size: 60% !important;
    font-weight: lighter;
    margin: 0.5rem 0.8rem;
}

.countryItem h1{
font-weight: bolder;
margin: 0.5rem 0.8rem;

font-size: 70% !important;
}

.countryItem span{
      font-size: 100% !important;
      font-weight: bold;
}

.search_box{
display: flex;
justify-content:space-between;
margin: 1.2rem 0;
padding: 0 6rem;
width: 100%;
}

.search_box input{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
    border: none;
}
